.results {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2; /* (Property as parent) */
  justify-content: flex-start;

  &.no-results {
    justify-content: center;
  }

  &>div {
    width: 100%;
  }
}