@font-face {
  font-family: 'nunito-sans'; 
  src: url(../../assets/nunitosans.ttf)
}

body, html {
  background-color: #000F08;
  color:#EFF6E0;
  height: 100%;
  width: 100%;
}

body * {
    font-family: 'nunito-sans', sans-serif;
}